
body{
    margin:0px;  
    display:flex;
    flex-direction:column;
    align-items:space-between;
    height:100vh;
}
header{
    margin:0px;
}
nav{
   
   margin:0;
}

.container-nav-left li{
    display:inline-block;
    align-items:stretch;
  
    
}
.container-nav-right li{
    display:inline-block;
    align-items:stretch;
    
}
.aboutLink{
  
}
.storeLink{
   
}
.gmailLink{
  
    
}
.imagesLink{
    
}
.servicesButton{
    
    width:40px;
    height:40px;
    font-size:100%;
}
.loginButton{
   
    width:150px;
    height:50px;
    font-size:100%;
}
.flex-nav{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    white-space:nowrap;
    padding:0px;

}

.servicesButton{
    
    width: 24px;
    height:24px;
   
    
    cursor:pointer;
    background:url("/images/dots-menu.svg") no-repeat;
    background-size:16px 16px;
    border:transparent;
    background-color:transparent;
    opacity:70%;
    background-position-x:center;
    background-position-y:center;
    margin-left:15px;
}

.loginButton{
    border-radius:50%;
    width: 32px;
    height:32px;
    margin-left:16px;
    margin-right:12px;
    cursor:pointer;
    background:url("/images/profile-icon.jpg") no-repeat;
    background-size:contain;
    border:transparent;
    background-position-x:center;
    background-position-y:center;

}

.logo{
    margin:auto;
    padding-bottom:20px;
    
}
main{
    padding:15%;
    margin:auto;
    width:50%;
    position:relative;
   
}

.grid-main{
   
    display:grid;
    grid-template-columns:auto ;
    grid-template-rows:auto auto auto;
    justify-content:space-evenly;
    align-content:center;
    position:relative;
    grid-template-areas:
    "logo"
    "search-bar"
    "buttons";
    
}
.voice-search-button:hover{
    cursor:pointer;
}
.logo{
    grid-column:1/2;
    grid-row:1/2;
    grid-area:logo;

    }

.search{
    grid-area:search-bar;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width:700px;
    margin-left:auto;
    margin-right:auto;


}


.magnifying-glass{
    background-image:url("images/search-magnifying-glass.jpg");
    background-repeat:no-repeat;
    background-size:25px 25px;
    background-position-x:center;
    background-position-y:center;
    height:41px;
    width:35px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding-left:5px;
    border-color:rgba(206, 206, 206, 0.685);
    border-style:solid;
    position:relative;
    flex-basis:50em;
    background-color:white;
    border-right-color:white;
    border-right-width:0px;

    max-width:100px;
    


}

.search-bar{
    grid-column:1/2;
    grid-row:2/2;
    position:relative;
    justify-items:last baseline;
    height:35px;
    border-color:initial;
    background-color:transparent;
    border-style:solid;
    border-color:rgba(206, 206, 206, 0.685);
    /*border-color:black;*/
    flex-basis:800em;
    border-left-color:white;
    border-left-width:0px;
    border-right-color:white;
    border-right-width:0px;
    max-width:800px;
}
.search-bar:focus{
   outline:none;
}


.voice-search-button{
    background:url("/images/google-mic.svg.png") no-repeat;
    background-size:contain;
    background-size:25px 25px;
    background-position-x:center;
    background-position-y:center;
    height:41px;
    width:30px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    padding-right:5px;
    border-color:rgba(206, 206, 206, 0.685);
    border-left-width:0px;
    border-left-color:white;
    border-style:solid;
    position:relative;
    flex-basis:50em;
    max-width:100px;

}


 .buttons{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex:row;
    padding:10px;
    justify-content:center;
}


.search-button[type="submit"]{
width:20%;
height:30px;
background-color: #f8f9fa;
border-color:transparent;
cursor:pointer;
padding:0px 16px;
border-radius:4px;
font-size:14px;
margin:11px 4px;
grid-area:search-button;
grid-column:1/1;
grid-row:3/3;

}

.random-button[type="submit"]{
   width:20%;
   border-color:transparent;
height:30px;
background-color: #f8f9fa;
flex-wrap:nowrap;

cursor:pointer;
padding:0px 16px;
border-radius:4px;
font-size:14px;
margin:11px 4px;
grid-area:random-button;
grid-column:2/2;
grid-row:3/3;
padding:0px;
overflow:hidden;
}




footer{

}
.footer-container{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    padding:0px;
}

.footer-left li{
    display:inline-block;
}
.footer-right li{
    display:inline-block;
}
a:link{
    text-decoration:none;
    color: #70757a;
    line-height:24px;
    display:inline-block;
    vertical-align:middle;
}
a:hover{
    text-decoration:underline;
}
a:active, :visited{
    text-decoration:none;
    color:#70757a;
    line-height:24px;

}
a{
    white-space:nowrap;
    padding:15px;
}